@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
html{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
.container{
    width: 1200px;
    margin: auto;
    max-width: 90%;
    transition: transform 1s;
}


.checkoutLayout{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 20px;
}
.checkoutLayout .right{
    background-color: pink;
    border-radius: 20px;
    padding: 40px;
    color: #3a3a3a;
    margin-top: 37px;
}
.checkoutLayout .right .form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    border-bottom: 1px solid #3a3a3a;
    padding-bottom: 20px;
}
.checkoutLayout .form h1,
.checkoutLayout .form .group:nth-child(-n+5){
    grid-column-start: 1;
    grid-column-end: 5;
}
.checkoutLayout .form input, 
.checkoutLayout .form select
{
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 10px;
    border:none;
    background-color: #fff;
    color: #3a3a3a;
}
.checkoutLayout .right .return .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.checkoutLayout .right .return .row div:nth-child(2){

    font-size: x-large;
}
.buttonCheckout{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: crimson;
    margin-top: 20px;
    font-weight: bold;
    color: #fff;


}
.returnCart h1{
    border-top: 1px solid #eee;  
    padding: 20px 0;
}
.returnCart .list .item img{
    height: 80px;
}
.returnCart .list .item{
    display: grid;
    grid-template-columns: 80px 1fr  50px 80px;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    padding: 0 10px;
    box-shadow: 0 10px 20px #5555;
    border-radius: 20px;
}
.returnCart .list .item .name,
.returnCart .list .item .returnPrice{
    font-size: large;
    font-weight: bold;
}
@media only screen and (max-width: 385px) {
    .checkoutLayout {
        grid-template-columns: 1fr; /* single column */
        margin-left: -30px;
        margin-right: -20px;
    }
    .checkoutLayout .right{        
        padding: 12px;
        padding-top: 20px;        
    }

    .returnCart .list .item .name,
   .returnCart .list .item .returnPrice{
     font-size: smaller;
   }
   .returnCart .list .item img{
    max-width: 90%;
    max-height: 90%;
   }
   .returnCart .list .item{
    display: grid;
    grid-template-columns: 70px 100px 60px 65px;
    align-items: center;
    gap: 10px;
   }
    

}
@media only screen and (min-width:390px) and (max-width: 767px) {
    .checkoutLayout {
      grid-template-columns: 1fr; /* single column */
      margin-left: -30px;
      margin-right: 10px;
      gap:10px;
    }
    .checkoutLayout .right{        
        padding: 15px;
        padding-top: 20px;
        
    }   
    .returnCart .list .item .name,
   .returnCart .list .item .returnPrice{
     font-size: smaller;
   }
   .returnCart .list .item img{
    max-width: 90%;
    max-height: 90%;
   }
   .returnCart .list .item{
    display: grid;
    grid-template-columns: 70px 160px 50px 65px;
    align-items: center;
    gap: 10px;
   }

}
@media only screen and (min-width: 768px) and (max-width: 850px) {
   .container{
    max-width: 100%;
   }
  .returnCart{
    max-width: 80%;
    
  }
  .returnCart .list .item img{
    max-width: 85%;
    max-height: 85%;
   }
  .returnCart .list .item{
    display: grid;
    grid-template-columns: 50px 85px 20px 50px;
  }
   .returnCart .list .item .name,
   .returnCart .list .item .returnPrice{
     font-size: smaller;
   }
   .checkoutLayout{
        gap: 1px;       
    }
    .checkoutLayout .right{        
        padding: 30px;
        
    }
}
@media only screen and (min-width: 855px) and (max-width: 1200px) {
    .container{
     max-width: 100%;
    }
   .returnCart{
     max-width: 80%;
     
   }
   .returnCart .list .item img{
    max-width: 85%;
    max-height: 85%;
   }
   .returnCart .list .item{
     display: grid;
     grid-template-columns: 55px 120px 55px 70px;
    
 
    }
    .returnCart .list .item .name,
    .returnCart .list .item .returnPrice{
      font-size: smaller;
      font-weight: bold;
    }
    .checkoutLayout{
        gap: 1px;       
     }
     .checkoutLayout .right{        
        padding: 30px;
         
    }
}
@media only screen and (min-width: 1201px){
    .checkoutLayout{
        padding: 10px;
        margin-left: -40px;
        margin-right: -40px;
    }
    .returnCart .list .item{
        display: grid;
        grid-template-columns: 110px 220px 55px 70px;
       
    
    }
}