/* Đăng nhập */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 150px;
    width: 60%;
    background: #f0efef45;
    border-radius: 15px;
    padding: 20px;
}

.wrapper form {
    width: 90%;
    padding-left: 20%;
    padding-right: 20%;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-dn {
    width: 100%;
    height: 50px;
    margin: 30px 0;

}

.input-dn input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid white;
    border-radius: 30px;
    padding-left: 60px;
    color: #fff;
    font-size: 18px;
}

.input-dn input::placeholder {
    color: #fff;
    font-size: 18px;
}

.input-dn i {
    position: absolute;
    zoom: 240%;
    margin-left: 5px;
    margin-top: 2.5px;
    cursor: pointer;
}

.input-dn .bx-show,
.input-dn .bx-hide {
    margin-left: -20px;
    position: absolute;
}

.wrapper .remember-fogot {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.remember-fogot a:hover {
    text-decoration: underline;
}

.remember-fogot label input {
    margin-right: 5px;
}

.wrapper button {
    padding: 8px 20px;
    font-size: 22px;
    margin: 30px 0;
    border-radius: 30px;
    width: 100%;
    font-weight: 600;
    background: #fbc163fb;
}

.wrapper button:hover {
    background: rgb(214, 138, 113);
}

.dn-khac p {
    font-size: 18px;
    text-align: center;
}

.dn-khac nav {
    display: grid;
    grid-template-columns: repeat(3, minmax(80px, 1fr));
    margin: 30px 0;
    align-items: center;
    text-align: center;
}

.dn-khac .fb-gg a img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.form-dk p {
    font-size: 18px;
    text-align: center;
}

.form-dk p a {
    color: #f4ac39;
}

.form-dk p a:hover {
    text-decoration: underline;
}

/* Đăng kí */
.form-group {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.form-group label {
    font-size: 20px;
}

.form-group input {
    width: 100%;
    height: 50px;
    margin: 10px 0;
    background: rgba(14, 14, 14, 0.34);
    border: none;
    outline: none;
    border: 2px solid white;
    border-radius: 30px;
    padding-left: 15px;
    color: #fff;
    font-size: 18px;
}

.form-group .bx-show,
.form-group .bx-hide {
    margin-left: -40px;
    position: absolute;
    zoom: 240%;
    margin-left: 5px;
    margin-top: 2.5px;
    cursor: pointer;
}