@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  --section-one: rgba(155, 164, 164, 0.1);
  --bg-color: #ffc0cb50;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration-line: none;
  text-transform: capitalize;
  transition: 0.1s linear;
}

body {
  line-height: 1.6;
  color: #333;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* header */

header.header {
  background: pink;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 7%;
  /* box-shadow: 0 0 7px crimson; */
  margin-bottom: 30px;
  position: fixed; /* Đảm bảo thanh header cố định ở vị trí ban đầu */
  width: 100%; /* Cố định thanh header chiếm toàn bộ chiều rộng */
  top: 0; /* Đặt thanh header ở phía trên cùng */
  z-index: 1000; /* Đảm bảo thanh header luôn hiển thị trên top */
}

header.header .logo img {
  height: 95px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}

header.header .cart {
  position: absolute;
  right: 50px;
  margin-right: 2rem;
}

header.header .cart .cart1 {
  color: crimson;
  cursor: pointer;
  font-size: 2rem;
}

header.header .cart .cart1:hover {
  color: #fff;
}

header.header .cart span {
  position: absolute;
  padding: 6px 8px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  font-size: 1rem;
  line-height: 0.8rem;
  margin-left: -0.1rem;
  margin-top: 0.4rem;
}

.ShoppingCart {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: pink;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.ShoppingCart a {
  padding: 8px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #333;
  display: block;
  transition: 0.3s;
}
/* Close button  */
.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 50px;
  margin-left: 50px;
}

/* Item */
.item {
  display: grid;
  grid-template-columns: 60px 1fr 70px;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.item img {
  width: 100%;
  height: 70px;
  object-fit: cover;
  border-radius: 10px;
}

.item .name {
  font-weight: bold;
  text-transform: none;
}

.item .price {
  color: #333;
  margin-bottom: 10px;
}

.item .quantity {
  display: flex;
  justify-content: end;
  align-items: center;
}
.ShoppingCart .item .quantity span {
  display: block;
  width: 100px;
  text-align: center;
  color: #333;
}
.ShoppingCart .item .quantity button {
  width: 30px;
  border: none;
  background-color: pink;
  color: #333;
  font-size: large;
}
.ShoppingCart a {
  padding: 20px;
  overflow: auto;
}
.ShoppingCart a ::-webkit-scrollbar {
  width: 0;
}
.ShoppingCart a {
  padding: 20px;
  overflow: auto;
}

/* Checkout button  */

.checkout {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(197, 136, 147);
  color: white;
}

.checkout a {
  color: white;
  text-decoration: none;
  text-align: center;
}

header.header .logo img:hover {
  opacity: 0.8;
}

/* container */

main {
  flex: 1;
  padding: 30px;
  background-color: var(--bg-color);
  margin: 130px 30px 30px 30px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.title_cattintuc {
  padding-left: 15px;
  border-bottom: 1px solid crimson;
  height: 40px;
  display: flex;
  align-items: center;
}

.title_cattintuc h2 {
  font-family: FS;
  font-size: 14px;
  color: crimson;
  text-transform: uppercase;
  text-decoration: none;
}

.title_cattintuc h2 img {
  margin-right: 1px;
}

.title_cattintuc h2 a {
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 15px;
  font-family: "Roboto", sans-serif; /* Chọn font chữ */
  font-size: 17px; /* Cỡ chữ */
  font-weight: bold; /* Độ đậm của chữ */
  color: crimson;
}

.title_cattintuc h2 a:hover {
  opacity: 0.8;
}

/* product */

#content {
  margin-top: 20px;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#content img {
  width: 450px;
  height: 320px;
  align-items: center;
  margin: 75px 70px;
  border-radius: 50px;
}

#content ul {
  flex: 1;
  margin: 0 10px;
}

#content ul li {
  text-transform: none;
  text-decoration: none;
  list-style: none;
  margin-top: 30px;
  margin-left: 100px;
}

#content ul li span {
  text-transform: none;
  color: #18100d;
  font-family: FS;
  font-size: 24px;
  font-weight: bold;
}

#content ul li p {
  text-transform: none;
  margin-top: 0;
  margin-bottom: 1rem;
}

/* Nút */

.order-button {
  background-color: crimson; /* Màu nền của nút */
  border: none; /* Loại bỏ đường viền */
  height: 40px;
  width: 100px;
  color: white; /* Màu chữ */
  text-align: center; /* Canh giữa nội dung nút */
  text-decoration: none; /* Loại bỏ gạch chân */
  text-transform: none;
  display: inline-block; /* Hiển thị như block inline */
  font-size: 16px; /* Cỡ chữ */
  cursor: pointer; /* Hiển thị icon con trỏ khi di chuột qua nút */
  border-radius: 7px; /* Bo tròn góc của nút */
}

.order-button:hover {
  opacity: 0.8;
}

/* footer */

footer {
  background: pink;
  color: #fff;
  position: relative;
  text-align: center;
  padding: 20px 0;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
.footer-section {
  width: 30%;
  margin-left: 30px;
  color: crimson;
}
.footer-section h3 {
  margin-bottom: 10px;
  font-size: 18px;
  text-transform: uppercase;
}
.footer-section p {
  margin: 5px 0;
}
.footer-section a {
  color: crimson;
  text-decoration: none;
  display: block;
  margin: 5px 0;
}
.footer-section a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 450px) {
  .ShoppingCart {
    max-width: 50%;
  }
  .item {
    display: grid;
    grid-template-columns: 50px 60px 50px;
    gap: 10px;
    margin-bottom: 3px;
    margin-left: -5px;
  }
  .item .name {
    font-size: 12px;
  }

  .item .price {
    font-size: 14px;
  }

  .item .quantity {
    font-size: 14px;
  }
  .checkout a {
    font-size: 14px;
  }
}
@media only screen and (min-width: 455px) and (max-width: 550px) {
  .ShoppingCart {
    max-width: 50%;
  }
  .item .name {
    font-size: 12px;
  }
  .item {
    display: grid;
    grid-template-columns: 55px 70px 55px;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
  }
  .item .price {
    font-size: 14px;
  }

  .item .quantity {
    font-size: 14px;
  }
  .checkout a {
    font-size: 14px;
  }
}
@media only screen and (max-width: 380px) {
  .ShoppingCart {
    max-width: 60%;
  }
  .item {
    display: grid;
    grid-template-columns: 55px 55px 55px;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
  }
  .item .name {
    font-size: 12px;
  }

  .item .price {
    font-size: 14px;
  }

  .item .quantity {
    font-size: 14px;
  }
  .checkout a {
    font-size: 14px;
  }
}
@media only screen and (max-height: 485px) {
  .item {
    margin-bottom: 0;
  }
  .checkout {
    margin-bottom: -190px;
  }
}

header.header .logo img:hover {
  opacity: 0.8;
}

/* responsive */

@media (max-width: 1024px) {
  header.header {
    flex-direction: row;
    height: 90px;
    padding: 0;
    justify-content: center;
  }

  header.header .logo img {
    transform: scale(0.85);
    margin-top: -5px;
    position: relative;
  }

  header.header .cart {
    right: 10px;
  }

  header.header .cart .cart-btn {
    font-size: 2rem;
  }

  main {
    padding: 20px;
    margin: 120px 20px 20px 20px; /* Thêm khoảng trắng giữa thanh header và phần main */
  }

  .title_cattintuc h2 a {
    font-size: 16px;
  }

  #content {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  #content img {
    width: 90%;
    height: auto;
    margin: 20px 0;
  }

  #content ul {
    margin: 0;
  }

  #content ul li {
    margin-left: 0;
    text-align: center;
  }

  #content ul li p {
    text-align: left;
  }

  footer {
    padding: 20px;
  }

  .footer-container {
    flex-direction: row; /* Đảm bảo các phần của footer hiển thị theo hàng ngang */
    justify-content: space-between; /* Tạo khoảng cách đều giữa các phần */
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .footer-section {
    width: 30%; /* Đảm bảo mỗi phần chiếm 30% chiều rộng */
    margin-left: 0;
    text-align: center; /* Canh giữa văn bản */
    color: crimson;
  }

  .footer-section h3 {
    margin-bottom: 10px;
    font-size: 18px;
    text-transform: uppercase;
  }

  .footer-section p {
    margin: 5px 0;
  }

  .footer-section a {
    color: crimson;
    text-decoration: none;
    display: block;
    margin: 5px 0;
  }

  .footer-section a:hover {
    text-decoration: underline;
  }
}

@media (max-width: 834px) {
  header.header {
    padding: 0;
  }

  header.header .cart {
    right: 5px;
  }

  main {
    margin: 120px 10px 10px 10px;
    padding: 20px;
  }

  #content ul li p {
    text-align: left;
  }

  footer {
    padding: 20px;
    margin-top: 10px;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .footer-section {
    width: 30%;
    margin-left: 30px;
    color: crimson;
  }

  .footer-section h3 {
    margin-bottom: 10px;
    font-size: 18px;
    text-transform: uppercase;
  }

  .footer-section p {
    margin: 5px 0;
  }

  .footer-section a {
    color: crimson;
    text-decoration: none;
    display: block;
    margin: 5px 0;
  }

  .footer-section a:hover {
    text-decoration: underline;
  }
}

@media (max-width: 768px) {
  header.header {
    flex-direction: row;
    height: auto;
    padding: 0;
  }

  header.header .logo img {
    transform: scale(0.85);
    margin-top: -5px;
    position: relative;
  }

  header.header .cart {
    right: 10px;
  }

  main {
    margin: 110px 10px 10px 10px; /* Thêm khoảng trắng ở trên cho màn hình nhỏ */
    padding: 20px;
  }

  #content {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  #content img {
    width: 95%;
    height: auto;
    margin: 0 0 20px 0;
    border-radius: 20px;
  }

  #content ul {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  #content ul li {
    margin: 20px 0;
    padding: 0 10px;
  }

  #content ul li p {
    text-align: left;
  }

  .title_cattintuc {
    padding-left: 5px;
    height: auto;
  }

  .title_cattintuc h2 a {
    font-size: 14px;
  }

  footer {
    text-align: center;
    padding: 20px;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    width: 100%;
    margin: 10px 0;
    text-align: center;
  }
}
